.tabs_container {
    padding: 0 40px;
}

.tabs {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   border-bottom: 2px solid #514C64;
   justify-content: center;
}

.tabs > li {
    padding: 10px 20px;
    margin: 0 10px;
}

.current {
    background: #FFE9C0;
    color: #514C64;
    border: 2px solid #514C64;
    border-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    top: 2px;
}

.content {
    padding: 0px;
    border-bottom: 2px solid #514C64;
}

@media screen and (max-width: 751px) {

    .tabs_container {
        padding: 0 20px;
    }
    
    .tabs {
       list-style: none;
       padding: 0;
       margin: 0;
       display: flex;
       border-bottom: 2px solid #36261E;
       justify-content: center;
    }
    
    .tabs > li {
        padding: 8px 12px;
        margin: 0 4px;
    }
    
    
    .content {
        padding: 0px;
    }

}