.tabs_container {
    padding: 0 40px;
    margin: 0 0 40px 0;
}

.tabs {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   border-bottom: 2px solid #514C64;
   justify-content: center;
   cursor: pointer;
}

.tabs > dt {
    padding: 10px 20px;
    margin: 0 5px;
    
}

.current {
    background: #FFE9C0;
    color: #514C64;
    border: 2px solid #514C64;
    border-bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    top: 2px;
    font-weight: bold;
}

.panelItemContainer {
    border-bottom: 2px solid #514C64;
    will-change: height;
    transition: height 375ms cubic-bezier(0.65, 0.05, 0.36, 1);
    margin: 0;
}

.item {
    position: relative;
}

.itemEnter {
    opacity: 0;
    max-height: 0;
}
  
.itemEnterActive {
    opacity: 1;
    max-height: auto;
    transition: all 500ms ease-out;
}
  
.itemExit {
    opacity: 0;
    max-height: 0;
}
  
.itemExitActive {
    opacity: 0;
    max-height: 0;
}

@media screen and (max-width: 751px) {

    .tabs_container {
        padding: 0 20px;
        margin: 0 0 20px 0;
    }
    
    .tabs {
       list-style: none;
       padding: 0;
       margin: 0;
       display: flex;
       border-bottom: 2px solid #514C64;
       justify-content: center;
    }

    .tabs > dt {
        padding: 6px 12px;
        margin: 0 4px;
    }
    
    .current {
        border: 2px solid #514C64;
        border-bottom: 0;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        position: relative;
        top: 2px;
    }

}