.contact_paragraphs {
    width: 50%;
    height: auto;
    max-width: 640px;
    min-width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.contact_button {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}
.form {
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}

.indicates_required {
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
}

.label_and_input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 20px;
    margin-bottom: 20px;
}

.label {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-weight: bold;
}

.field {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 48px;
    margin-left: 20px;
}

.input {
    position: relative;
    display: inline-flex;
    width: 100%;
    border: none;
    border-radius: 45px;
    outline: #FF8D61 solid 2px;
    font-size: 24px;
    background-color: #EFE5E3;
    color: #575B46;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    font-family: "CenturyGothic";
}

.input:focus {
    outline: #575B46 solid 2px;
}

.textarea_input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    outline: #FF8D61 solid 2px;
    font-size: 24px;
    background-color: #EFE5E3;
    color: #575B46;
    padding: 15px 20px;
    font-family: "CenturyGothic";
}

.textarea_input:focus {
    outline: #575B46 solid 2px;
}

.textarea_label_and_input {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 20px;
}

.textarea_label {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.textarea_field {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 240px;
}


.send_button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    margin-top: 40px;
}

@media screen and (max-width: 750px) {

    .contact_paragraphs {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        height: auto;
        max-width: auto;
        min-width: auto;
        margin-bottom: 40px;
    }
    .form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .indicates_required {
        padding: 0 10px;
    }

    .label_and_input {
        flex-direction: column;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    
    .label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }
    
    .field {
        display: flex;
        width: 100%;
        height: 32px;
        margin-left: 0;
    }
    
    .input {
        display: flex;
        width: 100%;
        font-size: 18px;
        padding: 0 10px;
    }
    
    .input:focus {
        outline: #626472 solid 1px;
    }
    
    .textarea_label_and_input {
        flex-direction: column;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    
    .textarea_label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 15px;
    }
    
    .textarea_field {
        display: flex;
        width: 100%;
        height: 120px;
        margin-left: 0;
        padding: 10px 0;
    }
    
    .textarea_input {
        width: 100%;
        font-size: 16px;
        
    }

    .send_button {
        flex-direction: column;
        font-size: 16px;
        margin-top: 20px;
    }

    .contact_button {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin-bottom: 40px;
        font-size: 12px;
    }

}