.imagePlusCaptionContainer {
    width: 100%;
    position: relative;
}

.imageContainer {
    width: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 30;
    top: 0;
    transition: all 0.33s ease-out;
    will-change: opacity;
    opacity: 100%;
}

.overlayHidden {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 30;
    top: 0;
    transition: all 0.33s ease-out;
    will-change: opacity;
    opacity: 0;
}

.captionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #514C64;
}

@media all and (max-width: 750px) {

    .captionContainer {
        font-size: 16px;
    }
    
}