.inputErrorMessage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.inputErrorIcon {
    width: 1.75rem;
    color: #8C391D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputErrorParagraph {
    color: #8C391D;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 750px) {

    .inputErrorMessage {
        gap: 0.25rem;
    }
    
    .inputErrorIcon {
        width: 1.325rem;
    }

}