.inputErrorMessage {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 4px 0 0 0;
}

.inputErrorIcon {
    width: 24px;
    margin-left: 10px;
    padding: 0;
}

.inputErrorParagraph {
    color: #5E3730;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 750px) {

    .inputErrorMessage {
        padding: 2px 0 0 0;
    }
    
    .inputErrorIcon {
        width: 18px;
        margin-left: 5px;
        padding: 0;
    }

}