
.button_footer {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFE9C0;
    background-color: #FF8D61;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.button_footer:hover {
    background-color: #6A7B6C;
}

@media all and (max-width: 750px){

    .button_footer {
        display: block;
        margin: 0.2em auto;
    }

}