.button {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em 3em;
    border: 0.16em solid #FF8D61;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #FF8D61;
    text-align: center;
    transition: all 0.15s;
}

.button:hover {
    color:#6A7B6C;
    border-color:#6A7B6C;
}

.button:active {
    color:#908FB2;
    border-color:#908FB2;
}

@media all and (max-width: 750px) {

    .button {
        display: inline-block;
        margin: 0.4em auto;
    }
}