.footer {
    position: relative;
	float: none;
	display: flex;
	flex-direction: row;
    justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer_info {
    float: left;
    width: 50%;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	height: auto;
    padding-left: 60px;
}

.footer_links {
    float: right;
	width: 50%;
	height: auto;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
    padding-right: 60px;
}

.footer_link {
    position: relative;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
}

.external_link_icon {
	width: 20px;
	margin-left: 8px;
}

.email_icon {
	width: 30px;
	margin-left: 8px;
}

@media screen and (max-width: 750px){

    .footer {
		padding-top: 30px;
	    padding-bottom: 30px;
		flex-direction: column;
		
    }

    .footer_info {
		width: auto;
		justify-content: center;
		padding: 0 10px;
	}
	
	.footer_links {
		flex-wrap: wrap;
		width: auto;
		justify-content: center;
		padding: 10px 10px;
	}

	.external_link_icon {
		width: 15px;
		margin-left: 6px;
	}

	.email_icon {
		width: 20px;
		margin-left: 6px;
	}

}