.button {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 24px;
    border: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: "futura-bold";
    will-change: margin-left;
    transition: margin-left 0.33s ease-out, color 0.33s ease-out;
}

.button:active {
    color:#908FB2;
}

.button_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 25px;
    will-change: margin-right;
    transition: margin-right 0.33s ease-out, color 0.33s ease-out;
}

@media all and (max-width: 750px) {

    .button {
        display: inline-block;
        padding: 8px 16px;
        font-size: 18px;
    }

    .arrow {
        width: 18px;
    }

}