.case_study {
    position: relative;
    height: 30rem;
    display: flex;
    flex-direction: row;
}

.case_study_background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.case_study_background_image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.case_study_overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 233, 192, 0.5);
}

.case_study_content {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.prototypes {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about_case_study {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
}

.case_study_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(255, 233, 192, 0.75);
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
}

.video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
  
.case_study_prototypes {
    position: relative;
    height: 100%;
    width: 100%;
}

.prototypes_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.case_study_prototype_desktop {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view_button {
    width: auto;
}

@media screen and (max-width: 1440px){
  
    .view_button {
        width: 100%;
        position: relative;
        text-align: center;
    }
  
}

@media screen and (max-width: 1080px) {

    .case_study {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .case_study_content {
        flex-direction: column;
    }

    .prototypes_container {
        flex-direction: row-reverse;
        padding: 0 1rem;
        gap: 1rem;
    }

    .case_study_prototype_desktop {
        padding: 0;
    }

    .prototypes {
        width: 100%;
        height: 24rem;
    }
    
    .about_case_study {
        width: 100%;
        height: auto;
    }

}
  
@media screen and (max-width: 720px) {

    .prototypes {
        width: 100%;
        height: 16rem;
    }

    .view_button {
          width: 100%;
          position: relative;
          text-align: center;
    }
  
}