.drawer_toggle_button {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    background: none;
    background-color: #575E53;
    transition: background-color 0.2s linear;
}

.drawer_toggle_button:hover {
    background-color: #8A977F;
}

.drawer_toggle_button_open {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    background: none;
    transform: scale(1);
    background-color: #575E53;
    transition: background-color 0.2s linear;
}

.drawer_toggle_button_open:hover {
    background-color: #8A977F;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFE9C0;
    margin: 6px 0;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.bar1_open {
    width: 35px;
    height: 5px;
    background-color: #FFE9C0;
    margin: 6px 0;
    -webkit-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    -o-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.bar2_open {
    width: 35px;
    height: 5px;
    background-color: #FFE9C0;
    margin: 6px 0;
    opacity: 0;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.bar3_open {
    width: 35px;
    height: 5px;
    background-color: #FFE9C0;
    margin: 6px 0;
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
    will-change: transform;
    transition: transform 0.3s ease-in-out;
}