.side_drawer {
    height: 100%;
    background: #EDEFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    right: 70px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side_drawer_open {
    height: 100%;
    background: #EDEFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    right: 70px;
    z-index: 200;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blinds {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.125rem;
}

.tab {
    position: relative;
        width: 100%;
}

.blindsTabBackground {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.125rem;
    width: 100%
}

.tab_container {
    width: 100%;
}

.tabName {
    color: #FFE9C0;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blind {
    height: 1rem;
    width: 100%;
    background-color: #514C64;
    position: relative;
    transition: background-color 0.2s linear;
}

@media (min-width: 751px) {
    .side_drawer {
        display: none;
    }
    .side_drawer_open {
        display: none;
    }
}