.blind_logo {
    position: relative;
    margin: 0;
    width: 25%;
    max-width: 350px;
    height: auto;
    float: left;
}

@media screen and (max-width: 750px){
    .blind_logo {
        min-width: 200px;
    }
}