.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
    font-family: "futura-bold";
    font-size: 1.125rem;
    will-change: margin-right;
    transition: margin-right 0.33s ease-out, color 0.33s ease-out;
}

.button:active {
    color:#908FB2;
}

.arrow {
    width: 1.125rem;
    will-change: margin-left;
    transition: margin-left 0.33s ease-out, color 0.33s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}