.blinds_index_container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #575E53;
}

.blinds {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    transition: color 0.2s linear;
}

.blinds_middle {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    background: rgba(0, 0, 0, 0.5);
}

.blinds_index_container:hover > .blinds {
    color: #8A977F;
}

.blinds_index_container:hover > .blinds > .blinds_middle > .blind {
    background-color: #8A977F;
}

.blind {
    height: 1rem;
    width: 100%;
    background-color: #575E53;
    position: relative;
    transition: background-color 0.2s linear;
}

.name {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFE9C0;
    font-size: 1.25rem;
    transition: opacity 0.3s linear;
    text-align: center;
    padding: 0 1rem;
}


@media screen and (max-width: 1440px) {
    .name {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1080px) {
    .name {
        font-size: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .name {
        font-size: 1rem;
    }
}