.tab_panel_container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.tab_container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab_container > li[aria-current='page']::before {
    --size: 6px;
    content: '';
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: var(--size) solid transparent;
    border-top: 6px solid #E0EADC;
    overflow: visible;
}

.tab {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #FFE9C0;
    background-color: #424142;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: left;
    transition: background-color 0.2s linear;
}

.tab:hover {
    background-color: #636B5F;
}

.tab_expandable {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #FFE9C0;
    background-color: #424142;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: left;
    transition: background-color 0.2s linear;
}

.tab_expandable:hover {
    background-color: #636B5F;
}

.arrow_active {
    width: 1rem;
    transition: transform 0.2s ease-out;
    transform: rotateX(180deg) rotate(90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    will-change: "transform";
}

.arrow {
    transform: rotateX(0deg) rotate(90deg);
    width: 1rem;
    transition: transform 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    will-change: "transform";
}

.tab_expandable[aria-current='page']::before {
    --size: 6px;
    content: '';
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: var(--size) solid transparent;
    border-top: 6px solid #E0EADC;
    overflow: visible;
}

.panel_container {
    position: relative;
}

.panel {
    position: absolute;
    background-color: #424142;
    top: 0;
    right: 0;
    width: 200%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    will-change: height;
    transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.subnav_tab {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #424142;
    transition: background-color 0.2s linear, opacity 0.3s linear 0.18s;
    will-change: opacity;
}

.subnav_tab:hover {
    background-color: #636B5F;
}

.subnav_text {
    font-size: 0.9rem;
    position: relative;
    color: #FFE9C0;
    transition: text-decoration 0.2s linear;
}

.subnav_image {
    position: relative;
    width: 100%;
    max-width: 8rem;
}

@media screen and (max-width: 1440px) {
    .tab {
        font-size: 1rem;
    }

    .tab_expandable {
        font-size: 1rem;
    }

    .subnav_text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1080px) {
    .tab {
        font-size: 0.9rem;
    }

    .tab_expandable {
        font-size: 0.9rem;
    }

    .subnav_text {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 720px) {
    .tab {
        font-size: 0.8rem;
    }

    .tab_expandable {
        font-size: 0.8rem;
    }

    .subnav_text {
        font-size: 0.7rem;
    }
}