.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFBF2;
  border-radius: 20px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
  margin-top: 10px;
  text-align: center;
  width: 50%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 40px 40px;
}
  
.flash_title {
  margin: auto;
  font-size: 24px;
}
  
.flash_message {
  margin: auto;
  font-size: 22px;
}
  
.success {
  background-color: #FAFFE9;
  color: #627E4D;
}
  
.error {
  background-color: #E5D3D1;
  color: red;
}
  
@media (max-width: 768px) {
  .notification {
    padding: 20px;
    width: auto;
    max-width: 360px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .flash_title {
    margin: auto;
    font-size: 20px;
  }
    
  .flash_message {
    margin: auto;
    font-size: 18px;
  }
}
  
