.profile_image {
    width: 50%;
    height: auto;
    max-width: 640px;
    min-width: 480px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
}

.profile_paragraphs {
    width: 50%;
    height: auto;
    max-width: 640px;
    min-width: 480px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
}

@media screen and (max-width: 750px) {
    .profile_image {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .profile_paragraphs {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        margin-bottom: 40px;
    }
}