.aboutPageContainer {
    position: relative;
    width: 100%;
    padding-top: 220px;
    overflow: hidden;
  }

.aboutSection01 {
    width: 200%;
    transform: translateX(-25%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profileImageStart {
    width: 25%;
    max-width: 720px;
    height: auto;
    padding-left: 40px;
    transform: translateX(-100vw);
    transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.profileImageEnd {
    width: 25%;
    max-width: 720px;
    height: auto;
    padding-left: 40px;
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.profile_info {
    width: 25%;
    max-width: 720px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_info_paragraphs {
    margin: 0 40px;
}

.resume_heading {
    color: #C38368;
    font-size: 26px;
    text-align: center;
}

.view_PDF {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PDF_icon {
    width: 75px;
    margin-left: 15px;
}

.about_section_02 {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0 40px;
}

.experience {
    width: 35%;
    padding: 0 20px 40px 20px;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    box-sizing: border-box;
}

.certificates_and_awards {
    width: 35%;
    padding: 0 20px 40px 20px;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    box-sizing: border-box;
}

.skills {
    width: 25%;
    padding: 0 20px 40px 20px;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    box-sizing: border-box;
}

.resume_heading_01 {
    color: #7A7296;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.resume_heading_02 {
    color: #595F46;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.resume_heading_03 {
    color: #595F46;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    padding: 10px 0;
    margin: 0;
}

.resume_paragraphs {
    margin: 0;
    padding: 0;
}

.skills_sections {
    display: flex;
    flex-direction: column;
}

.skills_section {
    width: 100%;
    padding: 0;
}

@media screen and (max-width: 750px) {

    .aboutPageContainer {
        padding-top: 130px;
    }

    .aboutSection01 {
        width: 200%;
        transform: translateX(-25%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profileImageStart {
        width: 50%;
        padding: 0 20px;
    }
    
    .profileImageEnd {
        width: 50%;
        padding: 0 20px;
    }
    
    .profile_info {
        width: 50%;
        justify-content: flex-start;
        padding: 20px 0 0 0;
    }
    
    .profile_info_paragraphs {
        margin: 0 20px;
    }
    
    .resume_heading {
        font-size: 20px;
    }
    
    .about_section_02 {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    
    .experience {
        width: auto;
        padding: 0 20px 20px 20px;
        margin: 0 0 20px 0;
    }
    
    .certificates_and_awards {
        width: auto;
        padding: 0 20px 20px 20px;
        margin: 0 0 20px 0;
    }
    
    .skills {
        width: auto;
        padding: 0 20px 20px 20px;
        margin: 0 0 20px 0;
    }
    
    .resume_heading_01 {
        font-size: 20px;
    }
    
    .resume_heading_02 {
        font-size: 18px;
    }
    
    .resume_heading_03 {
        font-size: 18px;
        padding: 0;
    }
    
    .resume_paragraphs {
        margin: 0;
        padding: 0;
    }

    .skills_sections {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .skills_section {
        width: 50%;
        padding-right: 20px;
    }

    .PDF_icon {
        width: 40px;
        margin-left: 10px;
    }
}