.aboutPageContainer {
    position: relative;
    width: 100%;
    padding-top: 220px;
    overflow: hidden;
}

.introAboutSection {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

.myStoryContainer {
    width: 70%;
}

.myStory {
    margin: 0 auto;
    width: 100%;
    max-width: 860px;
}

.introAboutSection02 {
    width: 30%;
    padding: 0 0 0 40px;
}

.aboutSection01 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 40px auto;
}

.profileImageStart {
    width: 100%;
    height: auto;
    transform: translateX(-100vw);
    transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.profileImageEnd {
    width: 100%;
    height: auto;
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.myStoryParagraphs {
    margin: 0 auto 40px auto;
    padding: 0;
}

.resume_heading {
    color: #545451;
    font-size: 26px;
    text-align: center;
    width: 100%;
    margin: 0 auto 40px auto;
}

.resumePDF {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.PDF_icon {
    width: 75px;
    margin-left: 15px;
}

.workTogetherButton {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.strengthsHeading {
    width: 100%;
    color: #545451;
    font-size: 26px;
    text-align: center;
    margin: 0 auto 40px auto;
}

.strengthCard {
    width: auto;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.strengthCardIllustration {
    width: auto;
    padding: 20px;
    margin: 0;
}

.strengthHeading {
    width: auto;
    color: #7A7296;
    font-weight: bold;
    font-size: 22px;
    padding: 0 20px 20px 20px;
    margin: 0;
}

.about_section_02 {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0 40px 40px 40px;
}

.resumeSection01 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.skills {
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 0 0 auto 20px;
    box-sizing: border-box;
    border: solid 3px #514C64;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.experience {
    width: auto;
    padding: 20px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    border: solid 3px #514C64;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.certificates_and_awards {
    width: auto;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: solid 3px #514C64;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.resume_heading_01 {
    color: #7A7296;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.resume_heading_02 {
    color: #595F46;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.resume_heading_03 {
    color: #595F46;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    padding: 10px 0;
    margin: 0;
}

.resume_paragraphs {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 750px) {

    .aboutPageContainer {
        padding-top: 130px;
    }

    .introAboutSection {
        width: 100%;
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 0 20px 0;
    }
    
    .myStoryContainer {
        width: 100%;
    }
    
    .myStory {
        margin: 0 auto;
        width: 100%;
        max-width: 860px;
    }

    .introAboutSection02 {
        width: auto;
        margin: 0 20px 0 20px;
        padding: 0 0 0 0;
    }

    .aboutSection01 {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 0 20px 0;
    }

    .aboutHeading02 {
        font-size: 18px;
        margin: 0 auto 20px auto;
    }

    .profileImageStart {
        margin: 0;
    }
    
    .profileImageEnd {
        margin: 0;
    }
    
    .myStoryParagraphs  {
        margin: 0 0 20px 0;
        padding: 0 20px;
        max-width: 100%;
    }
    
    .resume_heading {
        font-size: 26px;
        text-align: center;
        margin: 0 auto 20px auto;
    }
    
    .resumePDF {
        justify-content: center;
    }

    .workTogetherButton {
        padding: 20px 0;
        justify-content: center;
    }

    .strengthsHeading {
        font-size: 20px;
        margin: 0 auto 20px auto;
    }

    .strengthCard {
        width: auto;
    }

    .strengthCardIllustration {
        width: auto;
    }

    .strengthHeading {
        font-size: 18px;
        padding: 0 20px 20px 20px;
        width: auto;
    }
    

    .resumeSection01 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .resume_heading {
        font-size: 20px;
    }
    
    .about_section_02 {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    
    .experience {
        width: auto;
        padding: 0 20px 20px 20px;
        margin: 0 0 20px 0;
        border-width: 2px;
    }
    
    .certificates_and_awards {
        width: auto;
        padding: 0 20px 20px 20px;
        margin: 0 0 20px 0;
        border-width: 2px;
    }
    
    .skills {
        width: auto;
        padding: 0 20px 20px 20px;
        margin: 0 0 20px 0;
        border-width: 2px;
    }
    
    .resume_heading_01 {
        font-size: 20px;
    }
    
    .resume_heading_02 {
        font-size: 18px;
    }
    
    .resume_heading_03 {
        font-size: 18px;
        padding: 0;
    }
    
    .resume_paragraphs {
        margin: 0;
        padding: 0;
    }

    .PDF_icon {
        width: 40px;
        margin-left: 10px;
    }
}