.blinds_index_container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.blinds {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    transition: color 0.2s linear;
}

.blinds_index_container:hover > .blinds {
    color: #6F7185;
}

.blinds_index_container:hover > .blinds > .blind {
    background-color: #6F7185;
}

.blind {
    height: 1rem;
    width: 100%;
    background-color: #514C64;
    position: relative;
    transition: background-color 0.2s linear;
}

.logo {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFE9C0;
    text-shadow: 0rem 0.125rem 0.25rem black;
    font-size: 1.25rem;
    padding: 0 1rem;
}

@media screen and (max-width: 1440px) {
    .logo {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1080px) {
    .logo {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        font-size: 1rem;
    }
}