html,
body {
  background-color: #FFE9C0;
  padding: 0;
  margin: 0;
  font-family: "CenturyGothic","Century Gothic",Verdana,sans-serif;
  color: #514C64;
  font-size: 24px;
  line-height: 1.6em;
}

@font-face {
  font-family: "CenturyGothic";
  src: url(/fonts/century_gothic/CenturyGothic.ttf);
}

a:link {
	color: #575B46;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #90947E;
}

a:hover {
	text-decoration: none;
	color: #FF8D61;
}

a:active {
	text-decoration: none;
	color: #908FB2;
}

* {
  box-sizing: border-box;
}

dd {
  padding: 0;
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}

figcaption {
  padding: 0;
  margin: 0;
}

.arrow {
  padding: 0 10px;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  padding-top: 220px;
}

.header {
  margin: 0 auto 40px auto;
  padding: 0 20px;
  font-weight: bold;
  font-size: 28px;
  color: #514C64;
  text-align: center;
}

.header_02 {
  font-size: 28px;
  margin: 0 auto 40px auto;
  max-width: 640px;
  font-weight: bold;
  color: #7A7296;
  text-align: center;
}

.header_03 {
  color: #545451;
  font-size: 24px;
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: 860px;
  padding: 0 40px;
  font-weight: bold;
  text-align: left;
}

.paragraphs_container {
  height: auto;
  width: 100%;
  position: relative;
  float: none;
  padding: 0;
  margin-bottom: 30px;
}

.paragraphs {
  position: relative;
  width: 50%;
  max-width: 640px;
  min-width: 400px;
  margin: 0 auto;
  font-size: 24px;
  color: #514C64;
}

@media screen and (max-width: 750px){

  body {
    font-size: 16px;
  }

  .container {
    padding-top: 130px;
  }

  .header {
    font-size: 20px;
    margin: 0 auto 20px auto;
  }

  .header_02 {
    font-size: 18px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    min-width: 0;
  }

  .header_03 {
    color: #545451;
    font-size: 18px;
    margin: 0 0 20px 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-weight: bold;
    text-align: left;
  }

  .paragraphs {
    width: 100%;
    padding: 0 20px;
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
  }

  .arrow {
    padding: 0 5px;
  }

}