.container {
  position: relative;
  top: 0;
  left: 0; 
  right: 0;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.intro_video {
  position: relative;
  width: 100%;
  max-width: 2400px;
  height: auto;
  padding: 0 40px 20px 40px;
  margin: 0 auto 40px auto;
}

.animatedHeading {
  margin: 0 auto 1rem auto;
  will-change: opacity;
  transition: opacity 375ms linear;
}

.workSection {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto 60px auto;
  padding: 0 40px;
}

.case_studies {
  position: relative;
  width: 100%;
  max-width: 2400px;
  height: auto;
  margin: 0 auto;
  padding: 0 40px 20px 40px;
}

.aboutSection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contactSection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px auto;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.myStory {
  max-width: 800px;
  width: 75%;
  color: #545451;
  margin: 0;
}

.learnAboutMeButton {
  padding-left: 20px;
}

.contactButton {
  padding-right: 20px;
}

.client_reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 0 60px 0;
}

.clientReview {
  max-width: 860px;
  width: 100%;
  padding: 0 40px;
}

.quoteCitation {
  text-align: center;
}

@media screen and (max-width: 1440px){

  .intro_video {
    margin: 0 0 40px 0;
    padding: 0;
  }

  .case_studies {
    padding: 0 20px 20px 20px;
  }

}

@media screen and (max-width: 720px) {

  .case_studies {
      padding: 0 20px 20px 20px;
    }

    .intro_video {
      margin: 0 0 20px 0;
      padding: 0;
    }
  
    .animatedHeading {
      font-size: 18px;
      margin: 0 auto 20px auto;
    }
  
    .workSection {
      width: 100%;
      max-width: 100%;
      margin: 0 auto 30px auto;
      padding: 0 20px;
    }
  
    .aboutSection {
      width: 100%;
      max-width: 100%;
      margin: 0 auto 30px auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    
    .contactSection {
      width: 100%;
      max-width: 100%;
      margin: 0 auto 30px auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
    
    .myStory {
      max-width: 100%;
      width: 100%;
      color: #545451;
      font-size: 18px;
      margin: 0;
    }
  
    .learnAboutMeButton {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-top: 0px;
    }
  
    .contactButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-right: 0;
      width: 100%;
      margin-top: 10px;
    }
  
    .client_reviews {
      margin: 0 0 30px 0;
    }
  
    .clientReview {
      max-width: 100%;
      width: 100%;
      padding: 0 20px;
    }

}
