.container {
  position: relative;
  top: 0;
  left: 0; 
  right: 0;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.intro_video {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto 40px auto;
}

.myStory {
  max-width: 940px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto 80px auto;
  color: #545451;
  font-size: 28px;
}

.client_reviews {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto 40px auto;
}

.client_review_card {
  background-color: #EAFFFE;
  max-width: 860px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.client_review_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.client_review_heading {
  color: #7A7296;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
}


.client_review_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quote_icon {
  width: 50px;
}

.quote {
  text-align: left;
}

.quote_attribution {
  width: auto;
}

.quote_author_name {
  color: #595F46;
  font-weight: bold;
}

@media screen and (max-width: 750px){

  .intro_video {
    margin: 0 0 20px 0;
  }

  .myStory {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .client_reviews {
    margin: 0;
  }

  .client_review_card {
    padding: 10px 20px;
  }

  .quote_icon {
    width: 35px;
  }

  .client_review_heading {
    font-size: 18px;
  }
  
  .client_name {
    margin-top: 10px;
  }

}