.container {
  position: relative;
  top: 0;
  left: 0; 
  right: 0;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.intro_video {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto 40px auto;
}

.myStory {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto 40px auto;
}

.myStoryCards {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.myStoryCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 20px;
  margin: 0 10px 20px 10px;
  box-sizing: border-box;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.myStoryCardImage {
  width: 150px;
}

.myStoryCardHeading {
  max-width: 640px;
  width: 100%;
  font-size: 26px;
  font-weight: normal;
  padding-left: 30px;
  margin: 0;
}

.client_reviews {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.client_review_card {
  background-color: #EAFFFE;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.client_review_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.client_review_heading {
  color: #7A7296;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
}


.client_review_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.quote_icon {
  width: 50px;
}

.quote {
  text-align: left;
}

.quote_attribution {
  width: auto;
}

.quote_author_name {
  color: #595F46;
  font-weight: bold;
}

@media screen and (max-width: 750px){

  .intro_video {
    margin: 0 0 20px 0;
  }

  .myStory {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .myStoryCards {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 0;
    width: 100%;
  }

  .myStoryCard {
    align-items: center;
    max-width: 300px;
    min-width: 200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto 20px auto;
  }
  
  .myStoryCardImage {
    width: 100px;
  }
  
  .myStoryCardHeading {
    font-size: 18px;
    padding-left: 15px;
  }

  .client_review_card {
    padding: 20px 20px;
  }

  .quote_icon {
    width: 35px;
  }

  .client_review_heading {
    font-size: 18px;
  }
  
  .client_name {
    margin-top: 10px;
  }

}