.slider_case_study {
    position: relative;
    text-align: center;
    width: 50%;
    min-width: 640px;
    max-width: 2000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.prototypes_container {
    text-align: center;
    width: 50%;
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.prototypes_heading {
    width: 100%;
    height: auto;
    text-align: center;
    color: #7A7296;
    font-size: 28px;
    margin-bottom: 60px;
}

.prototypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.prototype_mobile {
    width: 30%;
    height: auto;
    margin-right: 10%;
}

.prototype_desktop {
    width: 60%;
    height: auto;
}

.visit_link {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

.case_studies_nav {
    position: relative;
    width: 50%;
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    float: none;
    margin-bottom: 150px;
}

.prev_case_study {
    float: left;
    right: 0;
    position: relative;
    height: auto;
}

.next_case_study {
    float: right;
    right: 0;
    position: relative;
    height: auto;
}

@media screen and (max-width: 750px) {

    .slider_case_study {
        position: relative;
        width: 100%;
        min-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-bottom: 125px;
    }

    .prototypes_container {
        width: 80%;
        height: auto;
        margin-bottom: 30px;
    }
    
    .prototypes_heading {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .visit_link {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .case_studies_nav {
        font-size: 16px;
        margin-bottom: 140px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 25px;
        padding-right: 25px;
        max-width: 100%;
        min-width: 100%;
    }
}