.slider_case_study {
    position: relative;
    text-align: center;
    width: 50%;
    min-width: 640px;
    max-width: 2000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.visit_link {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
    width: auto;
}

.external_link_icon {
	width: 20px;
	margin-left: 8px;
}

.case_studies_nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 640px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media screen and (max-width: 750px) {

    .slider_case_study {
        position: relative;
        width: 100%;
        min-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-bottom: 125px;
    }

    .visit_link {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .external_link_icon {
		width: 15px;
		margin-left: 6px;
	}

    .case_studies_nav {
        width: 100%;
        max-width: 100%;
        min-width:100%;
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}