.slider_case_study {
    position: relative;
    text-align: center;
    width: 50%;
    min-width: 640px;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.detail_heading {
    color: #575B46;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.panelContent {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.tabHeadingDesktop {
    font-size: 24px;
    padding: 0;
    margin: 0;
    display: block;
}

.tabHeadingMobile {
    display: none;
}
  
.panelHeadingMobile {
    display: none;
}

.panelImageAndParagraphs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.panelImage {
    width: 32%;
    padding: 20px 20px;
    min-width: 420px;
}

.panelContent {
    max-width: 640px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.panelContentParagraphsWithImage {
    width: 100%;
    padding: 40px 0;
    max-width: 2000px;
    margin: 0 auto;
}

.panelParagraphsWithImage {
    width: 50%;
    margin: 0;
    padding: 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panelParagraphs {
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.view_prototype_button {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-weight: bold;
    width: auto;
}

.external_link_icon {
	width: 20px;
	margin-left: 8px;
}

.inline_bold {
    font-weight: bold;
    display: inline;
}

.caseStudyInfoSection {
    margin-bottom: 40px;
}

.case_studies_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0 80px;
}

.caseStudyThumbnailOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 30;
}

.caseStudyThumbnailHeading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #514C64;
}

.visit_button {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {

    .slider_case_study {
        position: relative;
        width: 100%;
        min-width: 100%;
    }
    
    .detail_heading {
        font-size: 18px;
    }

    .panelContent {
        padding: 20px 0;
        width: 100%;
    }

    .panelContentParagraphsWithImage {
        padding: 20px 0;
    }

    .tabHeadingDesktop {
        display: none;
    }

    .tabHeadingMobile {
        display: block;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    .panelHeadingMobile {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .panelImageAndParagraphs {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .panelImage {
        width: 100%;
        padding: 10px 0;
        min-width: auto;
    }

    .figCaption {
        padding: 5px 0;
        font-size: 14px;
    }
    
    .panelParagraphsWithImage {
        width: 100%;
        padding: 10px 0;
    }

    .panelParagraphs {
        width: 100%;
        padding: 10px 0;
    }

    .view_prototype_button {
        font-size: 16px;
        margin: 10px 0;
    }

    .external_link_icon {
		width: 15px;
		margin-left: 6px;
	}

    .caseStudyInfoSection {
        margin-bottom: 20px;
    }

    .case_studies_nav {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .caseStudyThumbnailHeading {
        font-size: 14px;
    }

    .visit_button {
        margin: 25px 0;
    }
    
}