.slider_case_study {
    position: relative;
    text-align: center;
    width: 50%;
    min-width: 640px;
    max-width: 2000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

.view_prototype_button {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-weight: bold;
    width: auto;
}

.external_link_icon {
	width: 20px;
	margin-left: 8px;
}

.case_studies_nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 640px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.process_heading {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-top: 50px;
    text-align: center;
}

.process_paragraphs {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    font-size: 24px;
    font-weight: normal;
    padding-top: 25px;
    padding-bottom: 50px;
}

.inline_bold {
    font-weight: bold;
    display: inline;
}

.visit_button {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {

    .slider_case_study {
        position: relative;
        width: 100%;
        min-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-bottom: 125px;
    }

    .view_prototype_button {
        font-size: 16px;
        margin: 10px 0;
    }

    .external_link_icon {
		width: 15px;
		margin-left: 6px;
	}

    .case_studies_nav {
        width: 100%;
        max-width: 100%;
        min-width:100%;
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 25px;
        padding-right: 25px;
    }

    .process_heading {
        max-width: auto;
        font-size: 16px;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .process_paragraphs {
        max-width: auto;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .visit_button {
        margin: 25px 0;
    }
    
}